### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [272]:
tot_sch=len(data.school_name.unique())
tot_stu=len(data['Student ID'].unique())

budget=data[['school_name','budget']].drop_duplicates()
tot_bud=budget.budget.sum()

mat_avg=data['math_score'].mean()
read_avg=data['reading_score'].mean()

pct_mat=len(data.math_score[data.math_score>=70])*100/tot_stu

pct_read=len(data.reading_score[data.reading_score>=70])*100/tot_stu

tot_pass=data[(data.reading_score>=70) & (data.math_score>=70)].shape[0]*100/tot_stu

dist_sum=pd.DataFrame({
    'Total Schools':[tot_sch],
    'Total Students':[tot_stu],
    'Total Budget':[tot_bud],
    'Average Math Score':[mat_avg],
    'Average Reading Score':[read_avg],
    '% Passing reading':[pct_read],
    '% Passing Math':[pct_mat],
    '% Overall Passing':[tot_pass] 
})

dist_sum.style.format({'Total Students': "{:,}",
                       'Total Budget': "${:,.2f}",
                       'Average Math Score':"{:,.2f}",
                       'Average Reading Score':"{:,.2f}",
                       '% Passing reading':"{:,.2f}",
                       '% Passing Math':"{:,.2f}",
                       '% Overall Passing':"{:,.2f}" 
                      })

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [273]:
#Creating table 1 with totals
table1=data[['school_name','type','Student ID','budget']].groupby(['school_name','type','budget'],as_index=False).count()
table1.rename(columns={'Student ID':'tot_stu'},inplace=True)
table1['bud_alum']=table1['budget']/table1['tot_stu']

#creating with averages
table2=data[['school_name','math_score','reading_score']].groupby('school_name',as_index=False).mean()

#creating table with passing scores
bins=[0,69.999999999999,100]

data['m_pass']=pd.cut(data.math_score,bins=bins,labels=False)*100
data['r_pass']=pd.cut(data.reading_score,bins=bins,labels=False)*100
data['ov_pass']=(data['m_pass']+data['r_pass']-100)
data['ov_pass'].replace(-100,0,inplace=True)

table3=data[['school_name','m_pass','r_pass','ov_pass']].groupby('school_name',as_index=False).mean()

In [274]:
school_sum=table1.merge(table2,on='school_name').merge(table3,on='school_name')

In [290]:
school_sum.rename(columns={'school_name':'School name',
                          'type':'School Type',
                          'tot_stu':'Total Students',
                          'budget':'Total School Budget',
                          'bud_alum':'Per Student Budget',
                          'math_score':'Average Math Score',
                          'reading_score':'Average Reading Score',
                          'm_pass':'% Passing Math',
                          'r_pass':'% Passing Reading',
                          'ov_pass':'% Overall Passing'},
                          inplace=True
                         )

school_sum=school_sum.style.format({'Total Students':"{:,}",
                         'Total School Budget':"${:,.2f}",
                         'Per Student Budget':"${:,.2f}",
                         'Average Math Score':"{:,.2f}",
                         'Average Reading Score':"{:,.2f}",
                         '% Passing Math':"{:,.2f}",
                         '% Passing Reading':"{:,.2f}",
                         '% Overall Passing':"{:,.2f}"
                      })

display(school_sum)

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [276]:
school_sum.sort_values('% Overall Passing',ascending=False,inplace=True)
best=school_sum.head(5).reset_index(drop=True)
best.style.format({'Total Students':"{:,}",
                         'Total School Budgent':"${:,.2f}",
                         'Per Student Budget':"${:,.2f}",
                         'Average Math Score':"{:,.2f}",
                         'Average Reading Score':"{:,.2f}",
                         '% Passing Math':"{:,.2f}",
                         '% Passing Reading':"{:,.2f}",
                         '% Overall Passing':"{:,.2f}"
                      })

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [277]:
school_sum.sort_values('% Overall Passing',ascending=True,inplace=True)
worst=school_sum.head(5).reset_index(drop=True)
worst.style.format({'Total Students':"{:,}",
                         'Total School Budgent':"${:,.2f}",
                         'Per Student Budget':"${:,.2f}",
                         'Average Math Score':"{:,.2f}",
                         'Average Reading Score':"{:,.2f}",
                         '% Passing Math':"{:,.2f}",
                         '% Passing Reading':"{:,.2f}",
                         '% Overall Passing':"{:,.2f}"
                      })

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [278]:
import numpy as np

math_sc=pd.pivot_table(data=data, values='math_score', index=['school_name'],
                    columns=['grade'], aggfunc=np.mean)
math_sc.reset_index(inplace=True)
math_sc=math_sc[['school_name','9th','10th','11th','12th']]
math_sc.rename_axis('index',axis=1,inplace=True)

math_sc.rename(columns={'school_name':'School Name'},inplace=True)

math_sc.style.format({'9th':"{:,.2f}",
                      '10th':"{:,.2f}",
                      '11th':"{:,.2f}",
                      '12th':"{:,.2f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [279]:
read_sc=pd.pivot_table(data=data, values='reading_score', index=['school_name'],
                    columns=['grade'], aggfunc=np.mean)
read_sc.reset_index(inplace=True)
read_sc=read_sc[['school_name','9th','10th','11th','12th']]
read_sc.rename_axis('index',axis=1,inplace=True)

read_sc.rename(columns={'school_name':'School Name'},inplace=True)

read_sc.style.format({'9th':"{:,.2f}",
                      '10th':"{:,.2f}",
                      '11th':"{:,.2f}",
                      '12th':"{:,.2f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [280]:
school_sum=table1.merge(table2,on='school_name').merge(table3,on='school_name')
bins=[0,585,630,645,680]
labels='<$585 $585-630 $630-645 $645-680'.split()
school_sum['spend']=pd.cut(school_sum['bud_alum'],bins=bins,labels=labels,right=False)
s_by_sch=school_sum[['spend','math_score','reading_score','m_pass','r_pass','ov_pass']].groupby('spend').mean()

In [281]:
s_by_sch.rename(columns={ 'math_score':'Average Math Score',
                          'reading_score':'Average Reading Score',
                          'm_pass':'% Passing Math',
                          'r_pass':'% Passing Reading',
                          'ov_pass':'% Overall Passing'},
                          inplace=True
                         )

s_by_sch.rename_axis('Spending Ranges (Per Student)',axis=0,inplace=True)

s_by_sch.style.format({'Average Math Score':"{:,.2f}",
                         'Average Reading Score':"{:,.2f}",
                         '% Passing Math':"{:,.2f}",
                         '% Passing Reading':"{:,.2f}",
                         '% Overall Passing':"{:,.2f}"
                      })

## Scores by School Size

* Perform the same operations as above, based on school size.

In [282]:
school_sum=table1.merge(table2,on='school_name').merge(table3,on='school_name')
bins=[0,1000,2000,5000]
labels='Small(<1000) Medium(1000-2000) Large(2000-5000)'.split()
school_sum['size']=pd.cut(school_sum['tot_stu'],bins=bins,labels=labels,right=False)
s_by_sch=school_sum[['size','math_score','reading_score','m_pass','r_pass','ov_pass']].groupby('size').mean()

In [283]:
s_by_sch.rename(columns={ 'math_score':'Average Math Score',
                          'reading_score':'Average Reading Score',
                          'm_pass':'% Passing Math',
                          'r_pass':'% Passing Reading',
                          'ov_pass':'% Overall Passing'},
                          inplace=True
                         )

s_by_sch.rename_axis('School size',axis=0,inplace=True)

s_by_sch.style.format({'Average Math Score':"{:,.2f}",
                         'Average Reading Score':"{:,.2f}",
                         '% Passing Math':"{:,.2f}",
                         '% Passing Reading':"{:,.2f}",
                         '% Overall Passing':"{:,.2f}"
                      })

## Scores by School Type

* Perform the same operations as above, based on school type

In [284]:
school_sum=table1.merge(table2,on='school_name').merge(table3,on='school_name')
s_by_sch=school_sum[['type','math_score','reading_score','m_pass','r_pass','ov_pass']].groupby('type').mean()

In [285]:
s_by_sch.rename(columns={ 'math_score':'Average Math Score',
                          'reading_score':'Average Reading Score',
                          'm_pass':'% Passing Math',
                          'r_pass':'% Passing Reading',
                          'ov_pass':'% Overall Passing'},
                          inplace=True
                         )

s_by_sch.rename_axis('School Type',axis=0,inplace=True)

s_by_sch.style.format({'Average Math Score':"{:,.2f}",
                         'Average Reading Score':"{:,.2f}",
                         '% Passing Math':"{:,.2f}",
                         '% Passing Reading':"{:,.2f}",
                         '% Overall Passing':"{:,.2f}"
                      })

### Conclusions

In the 15 schools analyzed students performed worst in math than in reading, an expected result. Also, the larger the school the worst are the scores. This can be due to a disproportionated ratio between teachers and students in these schools. 

I also found a counterintuitive finding: on average schools with the best overall performance are the schools with less spending per student. We need to be cautious about the implications, spending less money doesn't mean better scores. 

A time-series analysis would be helpful. Suppose is 2018 and the Government is experimenting with the school budgets to see the impact in the math and reading scores. The government gave randomly more money to a certain number of schools than others. In 2019, the government got the results and saw a huge impact: X%  scores' increase for each Y% in budget's increase. The experiment worked, so in 2020 the Government decides to give more money to those schools who didn't receive it in the first round, and also they decrease the budget in the schools who did receive the money -even the government has budget's constrains. 

In this hyphotetical scenario, we'll see schools with shorter budget performing better and that doesn't mean money didn't help the students to improve their performance.